/* Write your CSS code here */
.home-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 90vh;
}
.image-home {
  height: 400px;
  width: 400px;
}
.heading-home {
  color: #6d396b;
}
